.bg-cover {
  margin-top: 20px;
  position: relative;
  color: #e4dede;
  font-style: italic;
  font-weight: bold;
  background-color: black;
}
.bg-content {
  z-index: 1;
  position: relative;
}

.bg-cover:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("https://image.shutterstock.com/image-photo/collage-various-food-products-260nw-551207278.jpg");
  opacity: 0.5;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.p {
  font-weight: 900;
}
.logo {
  max-width: 50%;
  margin: 0 auto 10px;
}

.input-group {
  position: static;
  width: 30%;
}

.ul {
  position: static;
}
/* test */
.w3-card {
  position: float right;
  padding-left: 50%;
}
